div.player img {
    height: 42px;
    width: 42px;
}

div.player {
  display: inline;
}

.road {
    width: 90%;
    background-image: url('images/goalline.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position-x: 100%;
    display: block;
}

#result_log {
    width:40%;
    height: 25%;
}
